//
//  Development.xcconfig
//  TheBlog
//
//  Created by Marcio Garcia on 06/06/20.
//  Copyright © 2020 Oxl Tech. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OXL_APP_NAME = The Blog Dev
OXL_BUNDLE_IDENTIFIER = oxltech.com.TheBlog.dev
OXL_APPICON_NAME = AppIcon-Dev
OXL_ENVIRONMENT = development
// In a real situation the development base URL would be different than the production one.
OXL_API_BASE_URL = sym-json-server.herokuapp.com
