//
//  Production.xcconfig
//  TheBlog
//
//  Created by Marcio Garcia on 06/06/20.
//  Copyright © 2020 Oxl Tech. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OXL_APP_NAME = The Blog
OXL_BUNDLE_IDENTIFIER = oxltech.com.TheBlog
OXL_APPICON_NAME = AppIcon-Prod
OXL_ENVIRONMENT = production
OXL_API_BASE_URL = https:\/\/sym-json-server.herokuapp.com
